# Node modules
node_modules/

# Build output
out-tsc/

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Coverage
coverage/
*.lcov

# IDE and Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
